@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuggles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');

.discover-container {
    background-color: #1f1f1f;
    background-size: cover;
    background-position: center;
    min-height: 200px;
}

.discover-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.discover-main-text {
    color: #fff;
    padding-block: 20px;
    text-align: center;
}

.discover-search {
    width: 400px;
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    text-align: left;
    font-size: 1.2rem;
    margin-bottom: 50px;
}

.discover-city-container {
    margin-top: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.discover-city {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    margin-bottom: 200px;
    border-radius: 20px;
    backdrop-filter: saturate(180%) blur(10px);
    background-color: '#1f1f1f';
    box-shadow: 0px 0px 5px 5px rgba(15, 15, 15, 0.404);
    color: #fff;
}

.sec-title {
    font-family: 'Fuggles', cursive;
    font-size: 7rem;
}

.sec-title-help {
    font-family: 'Yomogi', cursive;
}

.city-header {
    margin-top: 80px;
    color: #fff;
}

.city-header-photo-container {
    text-align: right;
}

.city-header-photo {
    border-radius: 10px;
    border: #fff 2px solid;
    margin: 5px;
}

/* .city-header-main {
    background-color: #295ed9;
    margin-left: -150px;
    padding: 20px;
} */

.city-name {
    display: inline;
    font-family: 'STIX Two Math', serif;
    font-size: 5rem;
    background-color: #295ed9;
    border-radius: 5px;
    margin-left: -150px;
    padding: 15px;
}

.city-state {
    font-family: 'STIX Two Math', serif;
    font-size: 1.5rem;
    margin-left: -10px;
}

.city-sec-about {
    background-color: #1f1f1f;
    border-left: 4px solid white;
    bottom: 0px;
    padding: 20px;
    padding-left: 30px;
    mix-blend-mode: hard-light;
}

.city-about {
    padding-bottom: 20px;
}

.city-gallary {
    margin-top: 80px;
     display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 60px 10%;
}
/*******Image gallery of unequal height *********/
/* .city-gallary {    
    line-height: 0;       
     -webkit-column-count: 5;    
     -webkit-column-gap: 0px;    
     -moz-column-count: 5;
     -moz-column-gap: 0px;
      column-count: 5;    
      column-gap: 0px;    
 }  
 .city-gallary img {    
    width: 100% !important;    
    height: auto !important;  
 }  
 .city-gallary{    
    display:inline-block;    
    margin-right: auto;    
    margin-left: auto;  
 } */

/*******Image gallery of unequal height end*********/
.gallary-header {
    border: #295ed9 4px solid;
    border-radius: 20px;
    padding: 40px 20px;
    display: inline-block;
}

.city-attraction {
    position: relative;
    margin-top: 100px;
    background-color: #295ed9;
    background-image: url("https://images.unsplash.com/photo-1605487903301-a1dff2e6bbbe?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTU2fHx0cmF2ZWxsaW5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    width: 100%;
}

.rec-arrow-right, .rec-arrow-left{
    outline: none !important;
    position: absolute;
    top: 0;
    background: aquamarine;
    right: 20px;
    transform: translateY(100%);
    outline: none !important;
    margin: 5px;
}

.rec-arrow-left{
    transform: translateX(-120%) translateY(100%);
    -webkit-transform: translateX(-120%) translateY(100%);
    -moz-transform: translateX(-120%) translateY(100%);
    -ms-transform: translateX(-120%) translateY(100%);
    -o-transform: translateX(-120%) translateY(100%);
}

.attraction-header {
    padding: 20px;
}

.attraction-card {
    height: 350px;
    width: 250px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    line-height: 1;
    padding: 15px 15px;
    background: '#295ed9';
    backdrop-filter: saturate(1.8) blur(10px);
}

.attraction-img {
    width: 100%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    align-items: center;
}

.attraction-place {
    font-size: 20px;
    font-weight: 600;
}

.attraction-desc {
    font-size: 13px;
    line-height: 15px;
}

.hotel-card {
    align-items: center;
    border-radius: 20px;
    border: 1px #fff solid;
    width: 900px;
}

.hotel-img-ctn {
    text-align-last: center;
    margin-block: 20px;
}

.hotel-img {
    border-radius: 10px;
    border: 1px #fff solid;
}

.hotel-desc {
    text-align: right;
}

.hotel-name {
    font-size: 30px;
}

.star {
    color: #fff !important;
}

.hotel-desc-last {
    align-items: flex-end;
}

.hotel-landmark {
    text-align: left;
}

.hotel-landmark-header {
    font-size: 20px;
}

.hotel-price {
    font-size: 20px;
    font-weight: 600;
    background-color: #295ed900;
    border-radius: 50px;
}


/*******Image gallery of unequal height for small device*********/

@media (max-width: 1000px) {
    .city-gallary {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
    }

    .hotel-card {
        width: 600px;
    }
}  
 @media (max-width: 800px) {
    .city-gallary {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
    }
    .hotel-card {
        width: 500px;
    }
}

@media (max-width: 560px) {

    .hotel-card {
        width: 400px;
    }
}  
 @media (max-width: 400px) {
    .city-gallary {
    -moz-column-count:    1;
    -webkit-column-count: 1;
     column-count:        1;
    }
    .hotel-card {
        width: 300px;
    }
}
/*******Image gallery of unequal height for small device end*********/
@media screen and (max-width: 1020px) {
    .discover-city-container {
        margin-top: 10px;
    }
    .discover-city {
        width: 100%;
        box-shadow: 0px 0px 0px 0px rgba(15, 15, 15, 0.404);
    }
}

@media only screen and (max-width: 992px) {
    .hotel-landmark {
        text-align: right;
    }
}


@media only screen and (max-width: 800px) {
    .main-container {
        margin-inline: 50px;
    }

    .hotel-landmark {
        text-align: left;
    }

    .hotel-desc {
        text-align: left;
    }
    
    .city-header-photo-container {
        text-align: center;
    }

    .city-header-photo {
        width: 350px;
    }

    .city-name {
        display: inline;
        font-family: 'STIX Two Math', serif;
        font-size: 3rem;
        background-color: #295ed9;
        border-radius: 5px;
        margin-left: -15px;
        padding: 5px;
    }
    
    .city-state {
        font-family: 'STIX Two Math', serif;
        font-size: 1.4rem;
        margin-left: -10px;
    }

}

@media only screen and (max-width: 600px) {
    
    .main-container {
        border-radius: 0px;
        margin-inline: 0px;
    }

    .discover-search {
        width: 100%;
    }

    .sec-title {
        font-size: 3rem;
    }

    .search {
        padding: 20px;
        width: 300px;
        border-radius: 0px;
    }


    .hotel-name {
        font-size: 20px;
    }

    .hotel-landmark-header {
        font-size: 15px;
    }
}
