.infocard-root {
    background-color: #171717;
    height: 60vh;
    color: #fff;
    display: flex;
    align-items: center;
}

.infocard-col {
    display: flex;
    justify-content: center;
}

.feature-container {
    padding-top: 20px;
    justify-content: space-evenly;
}

.feature-main {
    line-height: 40px;
    font-size: 1.5rem;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    margin-left: 20px;
}

.feature-btn {
    color: #295ed9;
    padding: 5px;
    border-radius: 5px;
    background-color: #295ed91a;
}

@media screen and (max-width: 700px) {
    .infocard-root {
        height: 100vh;
    } 
    
    .feature-main {
        line-height: 25px;
        font-size: 1.2rem;
    }

    .feature-desc {
        font-size: 0.8rem;
    }

    .feature-btn{
        margin-top: -10px;
    }
}